<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>
  <%= @genre.name %>
</h1>

<%= link_to 'Edit', edit_genre_path(@genre) %> | <%= link_to 'Back', genre_index_path %>
<%= button_to 'Delete', genre_path(@genre), method: :delete %>
</body>
</html>