<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>